.box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70vh;
  }
  .box-secondary {
    padding: 20px;
    overflow: auto;
  }
  
  .box-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  @media screen and (max-width: 768px) {
    .box-primary {
      display: none;
    }
    .box {
      grid-template-columns: 100%;
    }
  }
  