.name {
    -webkit-text-stroke: 1px #efe8e8;
    text-shadow: 0px 2px 2px #282828ad;
}

ul {

    list-style: none;


    text-align: center;
}

li {

    position: relative;

}



a {
    color: rgb(245, 241, 241);
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 1px;
    position: relative;
     font-family:  Garamond, serif;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

.toggle {
    all: unset;
    background-color: dodgerblue;
    color: white;
    width: 150px;
    padding: 10px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.toggle::after {
    content: "";
    width: 6px;
    height: 6px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    transform: rotate(45deg);
    transition: 0.4s;
}

.list {
    background-color: white;
    color: #444;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(4, 40px);
    border-radius: 5px;
    overflow: hidden;
    height: 0;
    transition: 0.4s;
}

.list-item {
    display: flex;
    align-items: center;
    padding-left: 2px;
    transition: 0.4s, transform 0.4s var(--delay);
    transform: translateX(-100%);
    user-select: none;
    cursor: pointer;
}

.list-item:hover {
    background-color: dodgerblue;
    color: #fff;
}

.toggle:focus::after {
    transform: rotate(225deg);
}

.toggle:focus~.list {
    height: 160px;
}

.toggle:focus~.list .list-item {
    transform: translateX(0);
}