.name {
  -webkit-text-stroke: 1px #2a9f9a;

  text-shadow: 0px 4px 4px #282828ad;

}

ul {
  list-style: none;

   
}



/* a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
    position: relative;
} */

/* a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
} */
