.medicalGuideCover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/d7qHVyn/okkk.png');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}