.card {
  --color: #2e947e; /* the border color */
  --border: 10px;   /* the border thickness*/
  --color: #2ca087e8; /* the border color */
  --border: 6px;   /* the border thickness*/
  --offset:10px;   /* control the offset*/
  --gap: 5px;       /* the gap on hover */
  
  --_c: var(--color) var(--border), #0000 0 calc(150% - var(--border)),var(--color) 0;
  --_o: calc(2*var(--offset));
  padding: 
    calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: 
    linear-gradient(      var(--_c)) var(--_o) var(--_o), 
    linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
 
  background-repeat: no-repeat;
  filter: grayscale(.20);
  transition: .5s ease-in-out all;
  cursor: pointer;
  
}
.card:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
  transition: .2s ease-in-out all;
}

.textColor{
  color: #0f8383; 

}


