.cover{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../assets/insurance/insurance.jpg');
   height: 500px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}


@media screen  and (max-width:1000px){

   .cover{
   height: 300px;

   
}
}